@import "config";

.app {
  display: flex;
  justify-content: center;

  .container {
    @include rem(max-width, 700);
    width: 100%;
    @include rem(padding, 0, 20);
    background-color: #fbfbfb;

    &__headline {
      color: $color__900;

      &--1 {
        @include rem(font-size, $base__font__size*2);
        @include rem(line-height, $base__line__height*2);
        @include rem(margin, 30, 0);
      }
    }

    &__restart {
      text-align: right;
      color: $color__red;
      @include rem(font-size, 12);
      font-weight: 700;
      cursor: pointer;
    }
  }
}
