$color__50: #eceff1;
$color__100: #cfd8dc;
$color__200: #b0bec5;
$color__300: #90a4ae;
$color__400: #78909c;
$color__500: #607d8b;
$color__600: #546e7a;
$color__700: #455a64;
$color__800: #37474f;
$color__900: #263238;
$color__light: #fafafa;
$color__dark: #212121;
$color__white: #ffffff;
$color__black: #000000;