@import "../../../../static/scss/config";

.select {
  &__container {
    @include rem(border-width, 4);
    border-style: solid;
    border-color: $color__200;
    border-left: none;
    border-top: none;
    border-right: none;
    @include rem(padding-bottom, 30);
  }

  .form {
    .form__box {
      .input {
        &.input--select {
          background-color: $color__white;
        }
      }
    }
  }
}