@import "../../../../static/scss/config";

.products {
  &__container {
    @include rem(border-width, 4);
    border-style: solid;
    border-color: $color__200;
    border-left: none;
    border-top: none;
    border-right: none;
    @include rem(padding-bottom, 30);
  }

  .form {
    .form__box {
      .input {
        &.input--vat {
          background-color: $color__white;
        }
      }
    }
  }

  .list {
    &__row {
      display: flex;
      justify-content: space-between;

      &--title {
        @include rem(border-top-width, 1);
        border-top-style: solid;
        border-top-color: $color__200;
        @include rem(border-top-left-radius, 5);
        @include rem(border-top-right-radius, 5);

        .list__col {
          &:first-child {
            @include rem(border-top-left-radius, 5);
          }

          &:last-child {
            @include rem(border-top-right-radius, 5);
          }
        }
      }

      &--item {
        .list__col--button {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: $color__red;
          color: $color__white;
          @include rem(font-size, 22);
          cursor: pointer;
        }

        &:last-child {
          .list__col {
            &:first-child {
              @include rem(border-bottom-left-radius, 5);
            }

            &:last-child {
              @include rem(border-bottom-right-radius, 5);
            }
          }
        }
      }
    }

    &__col {
      @include rem(padding, 5);
      @include rem(border-left-width, 1);
      border-left-style: solid;
      border-left-color: $color__200;
      @include rem(border-bottom-width, 1);
      border-bottom-style: solid;
      border-bottom-color: $color__200;

      &:last-child {
        @include rem(border-right-width, 1);
        border-right-style: solid;
        border-right-color: $color__200;
      }

      &--name {
        @include rem(max-width, 300);
        width: 100%;
      }

      &--count {
        @include rem(max-width, 100);
        width: 100%;
      }

      &--vat {
        @include rem(max-width, 60);
        width: 100%;
      }

      &--netto {
        @include rem(max-width, 125);
        width: 100%;
      }

      &--brutto {
        @include rem(max-width, 125);
        width: 100%;
      }

      &--button {
        @include rem(max-width, 50);
        width: 100%;
      }
    }
  }
}