@import "../../../../static/scss/config";

.products {
  &__container {
    @include rem(border-width, 4);
    border-style: solid;
    border-color: $color__200;
    border-left: none;
    border-top: none;
    border-right: none;
    @include rem(padding-bottom, 30);
  }

  &__headline {
    color: $color__900;

    &--2 {
      @include rem(font-size, $base__font__size*1.5);
      @include rem(line-height, $base__line__height*1.5);
      @include rem(margin, 20, 0);

    }
  }

  .form {
    display: flex;
    flex-direction: column;

    &__box {
      @include rem(margin-bottom, 20);

      &:last-child {
        margin: 0;
      }

      &--row {
        display: flex;
        justify-content: space-between;
      }

      &--name {
        @include rem(max-width, 560);
        width: 100%;
        @include rem(margin-right, 10);
      }

      &--count {
        @include rem(max-width, 80);
        width: 100%;
        @include rem(margin-left, 10);
      }

      .label {
        display: block;
        @include rem(margin-bottom, 5);
      }

      .input {
        display: block;
        width: 100%;
        font-size: inherit;
        line-height: inherit;
        @include rem(padding, 15, 10);
        @include rem(border-radius, 5);
        outline: none;
        @include rem(border-width, 2);
        border-style: solid;
        border-color: $color__100;
        transition: $base__transition;

        &:active,
        &:focus {
          border-color: $color__700;
        }

        &--vat {
          background-color: $color__white;
        }

        &--invalid {
          &:active,
          &:focus {
            border-color: $color__red;
          }

          border-color: $color__red;
        }

        &--valid {
          border-color: $color__green;
        }

        &--submit {
          cursor: pointer;

          &:hover {
            border-color: $color__700;
            background-color: $color__300;
          }
        }
      }

      .info {
        @include rem(margin, 5, 0, 0, 0);
        @include rem(font-size, 14);
        display: none;

        &--error {
          display: block;
          color: $color__red;
        }
      }
    }
  }

  .list {
    &__row {
      display: flex;
      justify-content: space-between;

      &--title {
        @include rem(border-top-width, 1);
        border-top-style: solid;
        border-top-color: $color__200;
        @include rem(border-top-left-radius, 5);
        @include rem(border-top-right-radius, 5);
        .list__col {
          &:first-child {
            @include rem(border-top-left-radius, 5);
          }
          &:last-child {
            @include rem(border-top-right-radius, 5);
          }
        }
      }

      &--item {
        .list__col--button {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: $color__red;
          color: $color__white;
          @include rem(font-size, 22);
        }
        &:last-child {
          .list__col {
            &:first-child {
              @include rem(border-bottom-left-radius, 5);
            }
            &:last-child {
              @include rem(border-bottom-right-radius, 5);
            }
          }
        }
      }
    }

    &__col {
      @include rem(padding, 5);
      @include rem(border-left-width, 1);
      border-left-style: solid;
      border-left-color: $color__200;
      @include rem(border-bottom-width, 1);
      border-bottom-style: solid;
      border-bottom-color: $color__200;
      &:last-child {
        @include rem(border-right-width, 1);
        border-right-style: solid;
        border-right-color: $color__200;
      }

      &--name {
        @include rem(max-width, 200);
        width: 100%;
      }

      &--count {
        @include rem(max-width, 100);
        width: 100%;
      }

      &--vat {
        @include rem(max-width, 60);
        width: 100%;
      }

      &--netto {
        @include rem(max-width, 125);
        width: 100%;
      }

      &--brutto {
        @include rem(max-width, 125);
        width: 100%;
      }
      &--button {
        @include rem(max-width, 50);
        width: 100%;
      }
    }
  }
}